html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.head  {
	font-family: 'Roboto', sans-serif;
	font-size: 8em;
       	letter-spacing:-0.03em;
	height: 100%;
}

.subHead {
	font-family: 'Open Sans';
	font-size: 2.5em;
	letter-spacing:-0.03em;
	height: 100%;
}

div {
	font-family: 'Open Sans';
}

h1 {
	color: #444444;
}

#coverAboutMe {
	position: absolute;
	left: 47%;
	top: 58.5%;
	height: 4.5%;
	width: 6%;
	z-index: 4;
}

#coverMyProjects {
	position: absolute;
	left: 46%;
	top: 64%;
	height: 4.5%;
	width: 8%;
	z-index: 4;
}

#slideOff  {
	transition: x 1.5s ease;
}

svg {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 3;
}

svg text {
    text-anchor: middle;
}

svg mask rect {
    fill: rgba(255, 255, 255, 1);
}

.line {
    fill: rgba(0, 0, 0, 1);
    transform-origin: middle;
    transition: 0.75s ease;
}

svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

#videoHolder {
	position: absolute;
	top: 0;
	left: 50%;
	width: 52%;
	height: 100%;
       	transform: translateX(-50%);
	transition: left 2s ease;
	z-index: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#videoHolder li {
	height: 100%;
	width: 100%;
	position: absolute;
	transition: top 1.5s ease,
		opacity 1.5s ease;
}

#videoHolder .current {
	top: 0;
}

#videoHolder .down {
	top: 100%;
}

#videoHolder .up {
	top: -100%;
}

#videoHolder li .slotHolder{
	position: absolute;
	top: 18%;
	height: 64%;
	width: 92%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4%;
	padding-right: 4%;
	box-shadow: 0px 0px 0px 0px rgba(7,7,7,0.2);
}

#videoHolder li:not(.current) {
	opacity: 0;
}

#videoHolder li:not(.current) video {
	opacity: 0;
}

.videoCaption {
	font-size: 1.8vh;
	font-style: italic;
	text-align: center;
	opacity: 0;
	padding-top: 5%;
	transition: padding-top 1.5s ease;
}

video {
	width: 100%;
	height: auto;
	z-index: 0;
	overflow: hidden;
	transition: opacity 1.5s ease;
	max-height: 91%;
}

#projectTextHolder {
	position: absolute;
	height: 40%;
	width: 17%;
	top: 30%;
	left: 11%;
	padding-left: 1%;
	opacity: 0;
}

#projectTitle {
	width: 100%;
	height: auto;
	font-size: 4vh;
	margin-top: -45%;
	margin-left: -10%;
	margin-bottom: 3%;
	transition: margin-top 2.5s ease,
		margin-left 3s ease;
}

#projectTextBorder {
	position: absolute;
	height:  0%;
	width: 2px;
	top: 2%;
	left: -17.1%;
	background-color: #666666;
	transition: 2s ease;
}

#projectText {
	font-size: 1.9vh;
	color: #777;
}

#backButtonProject {
	position: absolute;
	top: 50%;
	left: 109%;
       	transform: translate(0%, -50%);
	width: 10%;
	height: auto;
	font-size: 2.5vh;
	opacity: 0;
	color: #666666;
	margin-bottom: 0;
	transition: left 1.5s ease,
		font-size 0.25s ease,
		background-color 0.25s ease,
		margin-bottom 0.25s ease;
	font-weight: bold;
	z-index: 5;
}

#backButtonProjectBorder {
	width: 0%;
	height: 2px;
	background-color: #777;
	transition: width 0.75s ease;
}

#backButtonProject:active {
	color: #444;
	font-size: 2.4vh;
	margin-bottom: -1vh;
}

#backButtonProject:active div{
	color: #444;
}

#backButtonProject:hover div{
	width: 22%;
}

.videoNav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 3.5vh;
	height: 3.5vh;
	box-shadow: 0px 0px 0px 0px rgba(7,7,7,0.2);
	z-index: 10;
	background-color: #777;
	transition: width 0.6s,
		height  0.6s;
	opacity: 0;
}

.videoNav:hover {
	height: 4vh;
	width: 4vh;
}

.videoNav:active {
	transition: width 0.25s,
		height  0.25s;
	height: 3.5vh;
	width: 3.5vh;
}

.projectUp { top: -9%; }
.projectDown { bottom: -9%; }

.videoConnect {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0.6vh;
	height: 18.5vh;
	background-color: #777;
	z-index: 10;
}

.connectUp { top: -22vh; }
.connectDown { bottom: -22vh; }
