html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.head  {
	font-family: 'Roboto', sans-serif;
	font-size: 8em;
       	letter-spacing:-0.03em;
	height: 100%;
}

.subHead {
	font-family: 'Open Sans';
	font-size: 2.5em;
	letter-spacing:-0.03em;
	height: 100%;
}

div {
	font-family: 'Open Sans';
}

h1 {
	color: #444444;
}

#coverAboutMe {
	position: absolute;
	left: 45.5%;
	top: 58.5%;
	height: 4.5%;
	width: 9%;
}

#coverMyProjects {
	position: absolute;
	left: 45%;
	top: 64%;
	height: 4.5%;
	width: 10%;
}

.slideOff  {
	transition: 2s ease;
}

svg {
    width: 100%;
    height: 100%;
    position:absolute;
}

svg text {
    text-anchor: middle;
}

svg mask rect {
    fill: rgba(255, 255, 255, 1);
}

.line {
    fill: rgba(0, 0, 0, 1);
    transform-origin: middle;
    transition: 0.5s ease;
}

svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

#videoHolder {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 44%;
	height: 50%;
	z-index: -1;
       	transform: translate(-50%, -50%);
	transition: 2s ease;
}

#videoCaption {
	font-size: 1.6vh;
	font-style: italic;
	text-align: center;
	opacity: 0;
	padding-top: 15%;
	transition: padding-top 2.5s ease;
}

video {
	width: 100%;
	height: auto;
	z-index: -1;
	overflow: hidden;
}

#projectTextHolder {
	position: absolute;
	height: 40%;
	width: 30%;
	top: 30%;
	left: 14%;
	padding-left: 2.1%;
	opacity: 0;
}

#projectTitle {
	width: 100%;
	height: auto;
	font-size: 4vh;
	margin-top: -15%;
	transition: margin-top 2.5s ease;
}

#projectTextBorder {
	position: absolute;
	height:  0%;
	width: 2px;
	top: 2%;
	left: -17.1%;
	background-color: #666666;
	transition: 1.5s ease;
}

#backButtonProject {
	position: absolute;
	top: 50%;
	left: 109%;
       	transform: translate(0%, -50%);
	width: 10%;
	height: auto;
	font-size: 2vh;
	font-style: bold;
	opacity: 0;
	color: #666666;
	transition: left 1.5s ease;
	font-weight: bold;
}

#backButtonProjectBorder {
	width: 0%;
	height: 2px;
	background-color: #444444;
	transition: 0.5s ease;
}

#backButtonProject:hover {
	color: #444444;
}

#backButtonProject:hover div{
	width: 30%;
}
