html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.head  {
	font-family: 'Roboto', sans-serif;
	font-size: 8em;
       	letter-spacing:-0.03em;
	height: 100%;
}

.subHead {
	font-family: 'Open Sans';
	font-size: 2.5em;
	letter-spacing:-0.03em;
	height: 100%;
}

div {
	font-family: 'Open Sans';
}

h1 {
	color: #777777;
}

#coverAboutMe {
	position: absolute;
	left: 45.5%;
	top: 61%;
	height: 6%;
	width: 9%;
}

#coverMyProjects {
	position: absolute;
	left: 45%;
	top: 68%;
	height: 6%;
	width: 10%;
}

.slideOff  {
	transition: 2s ease;
}

svg {
    width: 100%;
    height: 100%;
    position:absolute;
}

svg text {
    text-anchor: middle;
}

svg mask rect {
    fill: rgba(255, 255, 255, 1);
}

.line {
    fill: rgba(0, 0, 0, 1);
    transform-origin: middle;
    transition: 0.5s ease;
}

svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 50%;
	min-height: 50%;
	width: 44%;
	height: auto;
	z-index: -1;
	overflow: hidden;
       	transform: translate(-50%, -50%);
	transition: 2s ease;
}

#projectTextHolder {
	position: absolute;
	height: 40%;
	width: 30%;
	top: 30%;
	left: 12%;
	padding-left: 2.1%;
	opacity: 0;
	transition: 3s ease;
}

#projectTitle {
	width: 100%;
	height: auto;
	font-size: 1.7em;
}

#projectTextBorder {
	position: absolute;
	height:  0%;
	width: 2px;
	top: 3%;
	left: -2.1%;
	background-color: #666666;
	transition: 3.2s ease;
}

#backButtonProject {
	position: absolute;
	top: 50%;
	left: 94%;
       	transform: translate(0%, -50%);
	width: 10%;
	height: auto;
	font-size: 1.2em;
	font-style: bold;
	opacity: 0;
	transition: 3s ease;
	opacity: 0;
}
